@use "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); //font DM sans
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); //font Playfair display

.container {
    max-width: 1700px;
}

.ck-editor__editable {
    min-height: 100px;
}

.ck-editor__editable_empty::before {
    padding-left: 30px !important;
}

.ck-powered-by {
    display: none !important;
}

.ck-editor {
    border: 1px solid #cccccc !important;
    border-radius: 8px;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-top: none !important;
}

.ck.ck-editor__main > .ck-editor__editable.ck-focused {
    border-top: none !important;
}

.ck.ck-toolbar {
    border-bottom: none !important;
    padding-left: 23px !important;
}

.ck-content {
    color: #4b4b4b;
    font: "DM Sans";
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    padding-left: 30px !important;
}
